.mainCanvas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.palettes {
    height: 50px;
    width: 50px;
}

.palettes:hover {
    cursor: pointer;
}

.color-selection {
    position: fixed;
    top: 15px;
    left: 15px;
}

.inputs {
    position: fixed;
    bottom: 10px;

    display: flex;
    justify-content: center;
    width: 100%;
}

.inputs-container {
    display: flex;
    align-items: center;
}

.layers{
    position: fixed;
    right: 50px;
    top: 15px;
};